<div class="container">
  
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <%= link_to image_tag("avocado.jpg", alt: "image 1",
                    class: "img-responsive",
                    data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "0" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <%= link_to image_tag("donut.jpg", alt: "image 2",
                    class: "img-responsive",
                    data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "1" } %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <%= link_to image_tag("popcorn.jpg", alt: "image 3",
                    class: "img-responsive",
                    data: { toggle: "modal", target: "#myModal" }),
                            "#myGallery", data: { slide_to: "2" }  %>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <%= link_to image_tag("strawberry.jpg", alt: "image 4",
                    class: "img-responsive",
                    data: { toggle: "modal", target: "#myModal"}),
                            "#myGallery", data: { slide_to: "3" }%>
    </div>
  </div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <div class="pull-left"><h4>Marios Food Gallery</h4></div>
              <button type="button" class="close" data-dismiss="modal" title="Close">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
          </div>
    <div class="modal-body">
    <!--CAROUSEL CODE GOES HERE-->
      <div id="myGallery" class="carousel slide" data-interval="false">
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("avocado.jpg",
                          alt: "Image description here",
                          class: "img-responsive") %>
          </div>
          <div class="item">
            <%= image_tag("donut.jpg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
            </div>
          <div class="item">
            <%= image_tag("popcorn.jpg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
          </div>
          <div class="item">
            <%= image_tag("strawberry.jpg",
                          alt: "Image description here", 
                          class: "img-respponsive") %>
          </div>



        </div><!--end carousel-inner-->
          <!-- Previous and Next buttons-->
          <a class="left carousel-control" href="#myGallery" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
            href="#myGallery" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div><!--end myGallery-->
    
    </div><!--end modal-body-->
        <div class="modal-footer">
        <div class="pull-left">
        </div>
          <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
      </div><!--end modal-footer-->
    </div><!--end modal-content-->
  </div><!--end modal-dialoge-->
</div><!--end myModal-->
      

  
  



  <h1>Mario's Foods</h1>
  <h3>Welcome to Mario's Specialty Food Products!</h3>
    <a href="?sort=:ten_most_recent"><button class="btn btn-outline-success btn-sm">Most recently added</button></a>
    <a href="?sort=most_reviews"><button class="btn btn-outline-danger btn-sm">Most reviews</button></a>
    <a href="?sort=from_usa"><button class="btn btn-outline-warning btn-sm">Made in USA</button></a>
    <button class="btn btn-outline-info btn-sm"><%= link_to "All Products", products_path %></button>
    <% if current_user && current_user.admin %>
    <button class="btn btn-outline-dark btn-sm"><%= link_to "Create New Product", new_product_path %></button>
    <% end %>
    <div class="homeProducts">
      <ul>
        <% if @products.any? %>
          <% @products.each do |p| %>
            <li><%= link_to p.name, product_path(p) %></li>
          <% end %>
      </ul>
        <% else %>
          <p>There are currently no products to display.</p>
        <% end %>
    </div>
</div>